.logos-mockups__container {
    max-width: 100%;
    margin: 5px 0;
    overflow: hidden;
}

.logos-back_btn {
    display: inline-block;
    margin: 40px;
    font-size: 1.8rem;
    color: var(--main-color);
}
  
/* .logos-mockups__container h1 {
    font-size: 2rem;
    margin: 40px 0;
    font-weight: lighter;
    letter-spacing: 1px;
} */
  
.logos-mockups__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  
.logos-mockup__img-container {
    max-width: 100%;
}
  
.logos-mockup__img {
    width: 100vw;
    height: auto;
}  