.uxui-mockups__container {
    max-width: 100%;
    margin: 5px 0;
    overflow: hidden;
}

.uxui-back_btn {
    display: inline-block;
    margin: 40px;
    font-size: 1.8rem;
    color: var(--main-color);
}
  
.uxui-mockups__container h1 {
    font-size: 2rem;
    margin: 40px 0;
    font-weight: lighter;
    letter-spacing: 1px;
} 
  
.uxui-mockups__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  
.uxui-mockup__img-container {
    max-width: 100%;
    margin: -2px;
}
  
.uxui-mockup__img {
    width: 100vw;
    height: auto;
}  

/* MOBILE */
@media screen and (max-width: 821px) {
    .uxui-mockup__img-container {
        margin: -3px;
    }
}