/* HOME MAIN IMG */
.home__main {
    width: 100%;
    height: 100%;
    background-image: url("/images/img_rute_main_page.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0; /* Places the section background behind the header */
}

.home__main-wrapper {
    height: 49rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--links);
}

.home__main-title {
    padding-top: 30rem;
    font-size: 3rem;
}

.home__arrow {
    font-size: 1.8rem;
}


/* HOME SECOND IMG */
.home__section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home__section-wrapper { 
    margin-top: 2rem;
    position: relative;
}

.home__second-img {
    width: 432px;
}

.home__section-contact {
    color: var(--main-color);
    position: absolute;
    bottom: -45px;
    right: -0.6rem;
    padding: 10px;
    font-size: 2rem;
}

@media screen and (max-width: 991px) {
    /* HOME MAIN IMG */
    .home__main-title {
        padding-top: 25rem;
        font-size: 2.5rem;
        text-align: center;
    }

    .home__arrow {
        font-size: 2rem;
    }


    /* HOME SECOND IMG */
    .home__section-wrapper { 
        margin-top: 3rem;
    }

    .home__second-img {
        width: 300px;
    }

    .home__section-contact {
        bottom: -45px;
        right: -0.6rem;
        padding: 10px;
        font-size: 1.5rem;
    }
}