@font-face {
    font-family: 'Freigeist-wideregular';
    src: url('Fontspring-DEMO-freigeist-wideblack.otf');
}

@font-face {
    font-family: 'Freigeist-wideblack';
    src: url('Fontspring-DEMO-freigeist-wideblack.otf');
}

@font-face {
    font-family: 'Abel-regular';
    src: url('Abel-Regular.ttf');
}