/* BASE*/
.nav-menu ul {
  display: flex;
  align-items: center;
}

.nav-menu li {
  position: relative;
}

.active {
	color: var(--links-hover) !important;
}

/* HOME NAVBAR */
.home__main-nav {
	width: 100%;
	position: absolute;
	padding-top: 36.5rem;
	z-index: 900;
}

.home__main-nav ul {
	display: flex;  
    align-items: center;
    justify-content: center;
}

.home__main-nav li {
	margin: 0 20px;
	font-size: 1.4rem;
}

.home__icon {
	font-size: 1.2rem;
	padding-left: 2rem;
	z-index: 0;
}

/* MAIN NAVBAR */
.main__nav {
    width: 100%;
    padding: 3.4rem 3rem;
    display: flex;
    justify-content: flex-end;
	z-index: 900;
}

.main__nav ul {
    display: flex;
}

.main__nav li {
    padding: 0 20px;
    font-size: 1rem;
}

/* DROPDPWN - DESKTOP */
.dropdown-menu {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 150%;
	left: 0;
	display: flex;
	gap: 1rem;
	background: #fff;
	padding: 0.5rem 0;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	transition: all 0.3s ease;
}

.dropdown:hover .dropdown-menu {
  	visibility: visible;
  	opacity: 1;
}

.dropdown-menu li {
 	white-space: nowrap;
}

/* HAMBURGER */
.hamburger {
	display: none;
	flex-direction: column;
	align-items: flex-end;
	gap: 6px;
	cursor: pointer;
	position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 1100;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background: var(--main-color);
  transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

/* MOBILE */
@media screen and (max-width: 991px) {
	.nav-menu {
		display: none;
	}

	.nav-menu.active {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: fixed;
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
		background: linear-gradient(
			to bottom right,
			rgba(255, 255, 255, 0.15),
			rgba(200, 200, 200, 0.05)
		);
		backdrop-filter: blur(12px);
		-webkit-backdrop-filter: blur(13px);
		border-left: 1px solid rgba(255, 255, 255, 0.25);
		box-shadow: -4px 0 25px rgba(0, 0, 0, 0.2);
		padding: 2rem;
		z-index: 1000; 
	}

	.nav-menu ul {
		flex-direction: column;
		gap: 2rem;
		text-align: center;
	}

	.home__main-nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 3.4rem 3rem;
		z-index: 900;
	}
	
	.home__icon {
		padding-left: 0;
	}

	.home__main-nav li {
		text-shadow: none;
	}

	.dropdown-menu {
		background: none;
		position: static;
		flex-direction: column;
		padding: 0;
		box-shadow: none;
		visibility: hidden;
		height: 0;
		opacity: 0;
		overflow: hidden;
		transition: all 0.3s ease;
	}

	.dropdown-menu.open {
		visibility: visible;
		opacity: 1;
		height: auto;
		margin-top: 1rem;
	}

	.dropdown.open .dropdown-menu {
		display: flex;
		flex-direction: column;
		visibility: visible;
		opacity: 1;
		position: relative;
		margin-top: 1rem;
	}

	.dropdown-menu li {
		padding: 0.5rem 0;
	}
	.dropdown-menu li a {
		color: var(--main-color);
	}

	.hamburger {
		display: flex;
	}
}
