@import 'fonts/font.css';
@import "home.css";
@import "about.css";
@import "work.css";
@import "contact.css";
@import "shop.css";

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;

    font-family: 'Freigeist-wideblack';
	scroll-behavior: smooth;
}

main {
    width: 100vw;
    height: 100vh;
}

/* HEADER */
.main__header {
    position: absolute;
    display: flex;
    justify-content: space-between;  
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%; 
    padding: 3rem; 
}

/* NAVBAR */
.main__nav {
    width: 100%;
    padding-top: 1.4rem;
    display: flex;
    justify-content: flex-end;
}

.main__nav ul {
    display: flex;
}

.main__nav li {
    padding: 0 20px;
    font-size: 1rem;
}

/* HAMBURGER MENU */
.main__nav-hamburger {
	display: none;	
}

/* TITLES + LINKS */
h1, a {
    text-transform: uppercase;
}

li, a {
    color: #FFD700;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s ease;
}

a:hover {
    color: #eca62b;
}

/* LOGO */
.logo {
    width: 4rem;
}

/* FOOTER */
footer {
	color: #000;
	text-align: center;
	padding: 8rem 0 1rem 0;

	font-weight: 1rem;
	font-family:'Abel-regular';
}

/* WORK MOKUPS */
.back-arrow {
	margin: 3rem;
	padding-top: 8rem;
}

.back-arrow img {
	width: 20px;
}

.img__container {
	margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
	flex-wrap: wrap-reverse;
}

.img__container-wrapper {
	display: flex;
    align-items: center;
    gap: 21px;
}

.wrapper__img img{
	width: 350px;
	height: 524px;
}

.img__container h3 {
	font-weight: 30px;
	font-family:'Abel-regular';
	text-transform: uppercase;
	font-weight: lighter;

	padding-left: 8rem;
}


@media screen and (max-width: 768px) {
    .main__header {
        justify-content: space-between;
        padding: 1.5rem;
    }

	.main__nav {
		display: none;
	}

	.main__nav.active {
		display: flex;
        flex-direction: column;
		align-items: center;
		justify-content: center;
		position: fixed;
		right: 0;
		top: 0;
		width: 50%;
		height: 100vh;
		background: #525252;
		z-index:10;
	}

	.main__nav.active ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2rem;
	}

	.main__nav.active ul li a {
		font-size: 1.5rem;
	}
	
	.main__nav-hamburger {
		display: block;
		cursor: pointer;
		z-index: 20;
	}

    /* Place the 'X' on the left side when open */
    .main__nav-hamburger.active {
        position: absolute;
        left: 16rem; 
    }
	
	.bar {
		display: block;
		width: 25px;
		height: 2px;
		margin: 4px auto;
		transition: all 500ms ease-in-out;
		background-color: #000;
	}

    /* White color when menu is open */
    .main__nav-hamburger.active .bar {
        background-color: #fff; 
    }

	.main__nav-hamburger.active .bar:nth-child(1) {
		transform: translateY(6px) rotate(45deg);
	}
    /* Hidden middle bar */
	.main__nav-hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	.main__nav-hamburger.active .bar:nth-child(3) {
		transform: translateY(-6px) rotate(-45deg);
	}

	/* FOOTER */
	footer {
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 479px) {
	.main__nav.active ul li a {
		font-size: 1.2rem;
	}

	/* Place the 'X' on the left side when open */
	.main__nav-hamburger.active {
        left: 14rem; 
    }

	/* FOOTER */
	footer {
		font-size: 0.5rem;
	}
}