/* UTILITIES */
@import 'fonts/font.css';
@import "home.css";

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Freigeist-wideblack';
}

li, a {
    color: yellow;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}