/* WORK MOKUPS */
.back-arrow {
	margin: 3rem;
	padding-top: 8rem;
}

.back-arrow img {
	width: 20px;
}

.img__container {
	margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
	flex-wrap: wrap-reverse;
}

.img__container-wrapper {
	display: flex;
    align-items: center;
    gap: 21px;
}

.wrapper__img img{
	width: 350px;
	height: 524px;
}

.img_re-size {
	width: 775px;
}

.img__container h3 {
	font-weight: 30px;
	font-family:'Abel-regular';
	text-transform: uppercase;
	font-weight: lighter;

	padding-left: 8rem;
}

/* SCROLL MENU */
.main__section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 8rem;
}

.main__section-container { 
   max-width: 1400px;
   width: 95%;
   height: 100%;
}

.slider__wrapper {
    position: relative;
}

.image__list-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image__list-info h2 {
    font-family: 'Abel-regular';
    font-weight: lighter;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 44px;
    color: #000;
}

.wrapper__image-list { 
    display: grid;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 30px;
}

/* BUTTON/ARROWS */
.slide_button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slide_button:hover {
    background: #444;
}

.slide_button#prev_slide {
    left: -20px;
    display: none;
}

.slide_button#next_slide {
    right: -20px;
}

/* IMG */
.image-item { 
    width: 425px;
    height: 500px;
    object-fit: cover;
    transition: 0.7s ease;
}

.image-item:hover {
    width: 465px;
    height: 540px;
}

/* SCROLLBAR */
.wrapper__image-list::-webkit-scrollbar {
    display: none;
}

.slider__scrollbar {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
}

.scrollbar__scroll-track {
    height: 2px;
    width: 100%;
    background: #ccc;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 4px;
}

.slider__scrollbar:hover .scrollbar__scroll-track {
    height: 4px;
}

.scrollbar__thumb {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 50%;
    background: #000;
    border-radius: inherit;
    cursor: grab;
}

.scrollbar__thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.scrollbar__thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

/* RWD */
@media only screen and (max-width: 821px) {
    .slide_button {
        display: none!important;
    }

    .wrapper__image-list {
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
    }

    .wrapper__image-list .image-item {
        width: 280px;
        height: 380px;
    }

    .scrollbar__thumb {
        width: 20%;
    }
}