.main__section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 8rem;
}

.main__section-container { 
   max-width: 1400px;
   width: 95%;
   height: 100%;
}

.ux__img-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ux__img-wrapper img{
    width: 100%;
}

.ux__img-wrapper h1 {
    font-family: "Abel-regular", sans-serif;
    font-size: 40px;
    font-weight: 200;
    padding-top: 20px;
    white-space: nowrap;
}