/* SCROLL MENU */
.work__section {
    width: 100%;
    height: 100vh;
    padding-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll__menu {
    display: flex;
    align-items: center;
    gap: 21px;
}

.scroll__menu img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.scroll__menu-img {
    width: 150px;
    cursor: pointer;
    position: relative;
    transition: 0.7s ease;
}

/* SCROLL SIZE */
.scroll__menu .scroll__menu-img:first-child, .scroll__menu .scroll__menu-img:last-child {
    height: 280px;
}

.scroll__menu .scroll__menu-img:nth-child(2), .scroll__menu .scroll__menu-img:nth-child(6) {
    height: 360px;
}

.scroll__menu .scroll__menu-img:nth-child(3), .scroll__menu .scroll__menu-img:nth-child(4), .scroll__menu .scroll__menu-img:nth-child(5) {
    height: 465px;
}

/* TITLES */
h1 {
    font-family: 'Abel-regular';
    font-size: 35px;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: rotate(270deg);
    transition: 0.7s ease;
}

.details {
    position: absolute;
    bottom: 80px;
    left: 130px;
}

.details h2 {
    font-family: 'Abel-regular';
    font-size: 26px;
    text-align: left;
    text-transform: uppercase;
    line-height: 44px;
    text-align: left;
    color: #fff;
    transition: 0.7s ease;
    display: none;
    cursor: pointer;
}

.details h2:hover {
    color: #eca62b;
}

/* IMG ACTIVE */
.scroll__menu-img.active {
    width: 366px !important;
    height: 600px !important;
}

.scroll__menu-img.active h1 {
    display: none;
}

.scroll__menu-img.active .details h2 {
    display: block;
}
