/* SCROLL MENU */
.body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 8rem;
}

.container { 
   max-width: 1200px;
   width: 95%;
}

.slider-wrapper {
    position: relative;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
    background: #444;
}

.slider-wrapper .slide-button#prev-slide {
    left: -20px;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: -20px;
}

.scroll__menu-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.scroll__menu-img h2 {
    font-family: 'Abel-regular';
    font-size: 26px;
    text-transform: uppercase;
    line-height: 44px;
    color: #000;
    cursor: pointer;
}

.scroll__menu-img h2:hover {
    color: #eca62b;
}

.slider-wrapper .image-list { 
    display: grid;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
    margin-bottom: 30px;
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}


.slider-wrapper .image-list .image-item { 
    width: 425px;
    height: 500px;
    object-fit: cover;
}

.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scroll-track {
    height: 2px;
    width: 100%;
    background: #ccc;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar:hover .scroll-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 50%;
    background: #000;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

@media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
        display: none!important;
    }

    .slider-wrapper .image-list {
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
    }

    .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 380px;
    }

    .slider-scrollbar .scrollbar-thumb {
        width: 20%;
    }
}