/* SCROLL MENU */
.main__section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 8rem;
}

.main__section-container { 
   max-width: 1400px;
   width: 95%;
}

.slider__wrapper {
    position: relative;
}

.slider__wrapper .slide_button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider__wrapper .slide_button:hover {
    background: #444;
}

.slider__wrapper .slide_button#prev_slide {
    left: -20px;
    display: none;
}

.slider__wrapper .slide_button#next_slide {
    right: -20px;
}

.image__list-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image__list-info h2 {
    font-family: 'Abel-regular';
    font-weight: lighter;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 44px;
    color: #000;
}

.slider__wrapper .wrapper__image-list { 
    display: grid;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 30px;
}

.slider__wrapper .wrapper__image-list::-webkit-scrollbar {
    display: none;
}


.slider__wrapper .wrapper__image-list .image-item { 
    width: 425px;
    height: 500px;
    object-fit: cover;
}

.main__section-container .slider__scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider__scrollbar .scrollbar__scroll-track {
    height: 2px;
    width: 100%;
    background: #ccc;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 4px;
}

.slider__scrollbar:hover .scrollbar__scroll-track {
    height: 4px;
}

.slider__scrollbar .scrollbar__thumb {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 50%;
    background: #000;
    border-radius: inherit;
    cursor: grab;
}

.slider__scrollbar .scrollbar__thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider__scrollbar .scrollbar__thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

@media only screen and (max-width: 1023px) {
    .slider__wrapper .slide_button {
        display: none!important;
    }

    .slider__wrapper .wrapper__image-list {
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
    }

    .slider__wrapper .wrapper__image-list .image-item {
        width: 280px;
        height: 380px;
    }

    .slider__scrollbar .scrollbar__thumb {
        width: 20%;
    }
}